h2 {
    background-color: #333333;
    border-radius: 6px;
    color: white;
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

section {
    background-color: #eee;
    border-radius: 6px;
    color: #333333;
    padding: 48px 60px;
}

section:nth-of-type(2) .row:first-of-type {
    margin-bottom: 50px;
}

section .thumbnail {
    background-color: #333333;
    margin-bottom: 0;
}

section li {
    margin-bottom: 10px;
}

/********************************** MEDIA-QUERIES********************/

@media(max-width: 991px) {
    section:first-of-type ul {
        margin-top: 15px;
    }
    
    section:nth-of-type(2) .col-md-6:first-of-type h3 {
    margin-top: 0;
    }
}

@media(max-width: 767px) {
    section {
        padding: 20px 15px;
    }
    
    section:nth-of-type(2) .row:first-of-type {
    margin-bottom: 15px;
    }

}