h2 {
    color: white;
}

section {
    background-color: #eee;
    border-radius: 6px;
    color: #333333;
    padding: 48px 60px;
}

section .row:first-of-type {
    margin-bottom: 50px;
}

section .thumbnail {
    background-color: #333333;
    margin-bottom: 0;
}


/**************************************** MEDIA-QUERIES **********************************************/

@media(max-width: 767px) {
    section {
        padding: 30px 15px;
    }
    
    section .row:first-of-type {
    margin-bottom: 15px;
}

}