h2 {
    background-color: #333333;
    border-radius: 6px;
    color: white;
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

section {
    background-color: #eee;
    border-radius: 6px;
    color: #333333;
    padding: 48px 60px;
}



section .thumbnail {
    border: none;
    background-color: #333333;
    margin-bottom: 0;
    -webkit-transition: 0.8s;
}

section a.thumbnail.active, 
section a.thumbnail:focus, 
section a.thumbnail:hover {
    background-color: white;
    border: none;
    text-decoration: underline;
}

section:first-of-type li {
    margin-bottom: 10px;
    /* to add some space between list items */
}

section .row:nth-of-type(2),
section .row:nth-of-type(3) {
    margin-top: 50px;
}

section:nth-of-type(3) {
    text-align: center;
}

section:nth-of-type(3) .thumbnail {
    /* there is no need to make wrap logo in border */
    border: none;
    padding: 0;
}

section:nth-of-type(3) img {
    margin: 0;
}

section:nth-of-type(3) ul {
    padding-left: 0;
    text-align: center;
}

section:nth-of-type(3) ul li {
    list-style: none;
}

section:nth-of-type(4) .row:nth-of-type(1) h3 {
    margin-top: 10px;
    /* to adjust logo and text in first row in 4th section */
}

section:nth-of-type(4) .col-md-6:nth-of-type(2) .thumbnail {
    border: none;
    padding: 0;
}

section:nth-of-type(4) .col-md-12 {
    text-align: center;
}

section:last-of-type {
    margin-bottom: 20px;
}

/********************************** MEDIA-QUERIES********************/

@media(min-width: 992px) {
    .flex-column {
        justify-content: center;
        height: 256px;
        /* to center udemy logo on div */
    }
    
    section:nth-of-type(3) .row:nth-of-type(2) h3 {
        margin-top: 30px;
    }
     
}

@media(max-width: 991px) {
    section:first-of-type ul {
        margin-top: 15px;
    }

    section:nth-of-type(2) .col-md-6:first-of-type h3 {
        margin-top: 10px; 
    }

    
    section .row:nth-of-type(2)  {
        margin-top: 0;
    }
    
    section .row:nth-of-type(3) {
        margin-top: 15px;
    }
    
    section:nth-of-type(4) .row:nth-of-type(2) .col-md-4 {
        margin-top: 30px;
    }
}

@media(max-width: 767px) {
    section {
        padding: 20px 15px;
    }
    section:nth-of-type(2) .row:first-of-type {
        margin-bottom: 15px;
    }
}