html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
    font-size: 16px;
    height: 100%;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}


/********** HEADER *********/

div.col-md-4.headerone {
    /* width: 240px;*/
    height: 144px;
}

header h1 {
    margin: 0 auto;
    padding: 52.5px 0;
    /* margin: 25% auto; */
    /* adjusting height of header */
}


/*********** NAVBAR ***********/

ul.nav.nav-pills {
    /* it's only works like this*/
    width: 300px;
    /* ! fixed width necessery for list items not to drop to the next line ! */
    text-align: center;
    margin: 11px 0;
    display: block;
    padding: 0;
}

ul.nav-pills > li {
    float: none;
    display: inline-block;
    /* li in one line */
}

.nav-pills li a {
    color: #d8192f;
    margin: 40px auto;
    /* adjusting height of header */
}

.nav-pills li.active a,
.nav-pills li a:hover,
.section .btn:hover {
    background-color: rgba(216, 25, 47, 1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    color: #fff;
}


/*********** JUMBOTRON ***********/

.jumbotron {
    height: 500px;
    background: url(https://s3.amazonaws.com/codecademy-content/projects/bestbite/bg.jpg);
    background-size: cover;
    background-position: center;
}

.jumbotron h2:first-child {
    /* easy way to reach text in the middle of food picture */
    margin-top: 100px;
}

.jumbotron h2 {
    color: white;
    font-size: 60px;
    text-align: right;
    margin: 0;
}


/********* BANNER *********/

.banner,
.supporting {
    text-align: center;
    padding-top: 40px;
}

.banner {
    background-color: #36343f;
    height: 180px;
    color: #fff;
}

.section.banner h3 {
    margin-top: 0px;
    margin-bottom: 40px;
}

.section.banner .btn-lg.btn-default {
    background: rgba(216, 25, 47, .5);
    color: white;
    margin-top: 15px;
}

.section.banner .btn-lg.btn-default:hover {
    text-decoration: none;
    background: #CB213D;
}


/********* PAGE-HEADER ********/

.page-header h3 {
    text-align: center;
}

.section .row .col-md-4 h4,
.section .row .col-md-4 p {
    text-align: center;
}

.section .row .col-md-4 h4 {
    color: rgba(216, 25, 47, 1);
    /*last number is opacity */
}

.section .row {
    margin-bottom: 50px;
}


/* also for footer */


/********* FOOTER *********/

footer {
    background: #eeeeee;
    text-align: center;
}

footer p {
    float: left;
    width: 33%;
    /* or you get your p's all together without aligning */
    padding-top: 30px;
    padding-bottom: 60px;
}

footer p:nth-child(2) {
    color: rgba(216, 25, 47, 1);
    text-align: center;
}

footer p:nth-child(3) {
    text-align: right;
}


/********** MEDIA QUERIES **********/

@media(min-height: 1192px) {
    /* make only .jumbotron grows when height of body exceeds of total heigth of elements */
    
    body {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }
    
    .jumbotron {
        flex-grow: 1;
    }
    
    header, .section, footer {
        flex-grow: 0;
    }
}

@media (max-width: 767px)
/* was 680 */

{
    div.col-md-4.headerone {
        margin-left: 20px;
        height: 100px;
    }
    header h1 {
        text-align: center;
        padding-top: 45px;
        padding-bottom: 10px;
    }
    .nav {
        float: none;
        margin: 0 auto;
    }
    ul.nav.nav-pills {
        margin: 0 auto;
        /*width: 50%;*/
    }
    .banner {
        height: 220px;
    }
    .nav-pills li:first-child a {
        margin-left: 20px;
    }
    .nav-pills li a {
        margin-top: 0;
        margin-bottom: 30px;
    }
}

@media(max-width: 500px) {
    /* make lines of text in footer in one line for small viewports */
    footer p {
        float: none;
        margin: 0;
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: center;
        width: 100%;
    }
    footer p:first-child {
        padding-top: 20px;
    }
    footer p:nth-child(3) {
        padding-bottom: 20px;
        text-align: center;
    }
}