html {
    margin: 0;
}
html, body {
    padding: 0;
}

.fixed-bg {
    background-image: url(../images/code.jpg);
    background-size: cover;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;
}

/***************************************** NAVBAR ******************************************/

.navbar {
    background-color: transparent; /* #D9414E */
    border: none;
}

.navbar-default .navbar-brand,  .navbar-default .navbar-brand:hover {
    color: #E5F2FF;
}

.navbar-default .navbar-nav>li>a {
    color: #E5F2FF;
}

/***************************************** MAIN ******************************************/

.jumbotron {
    text-align: center;
}

.jumbotron a {
    background-color: #333333; /* #292E66; */
    color: white;
}

.jumbotron a:hover {
    background-color: #D9414E;
    color:white;
}
