html {
    margin: 0;
}
html, body {
    padding: 0;
    height: 100%; /* to align jumbotron vertically */
}


.fixed-bg {
    background-image: url(../images/code.jpg);
    background-size: cover;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;
    /* because android chrome doesn't suppord normal background-image: cover */
}

/***************************************** NAVBAR ******************************************/

.navbar {
    background-color: transparent; /* #D9414E */
    border: none;
}

.navbar-default .navbar-brand {
    color: #E5F2FF;
    margin: 5px;
}

.navbar-default .navbar-brand:hover {
    background-color: #D9414E;
    border-radius: 6px;
    color: #E5F2FF;
}

.navbar-default .navbar-nav>li>a {
    color: #E5F2FF;
}

.navbar-nav a {
    font-weight: 600;
    margin: 5px;
}

.navbar-default .navbar-nav li>a:hover, .navbar-default .navbar-nav li>a:focus {
    background-color: #D9414E;
    border-radius: 6px;
    color: #E5F2FF;
}

/***************************************** MAIN ******************************************/

main {
    height: 90%; 
    /* to align jumbotron vertically */
    /* because with 100% main becomes too high*/
}

main .container {
    height: 100%; /* to align jumbotron vertically */
}

main .jumbotron {
    vertical-align: middle; /* to align jumbotron vertically */
}

main .container { /* to align jumbotron vertically */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.jumbotron {
    text-align: center;
}

.jumbotron a {
    background-color: #333333; /* #292E66; */
    color: white;
}

.jumbotron a:hover {
    background-color: #D9414E;
    color:white;
}
