html {
    margin: 0;
}
html, body {
    padding: 0;
}

body {
    background-color: #292E66;
}

/***************************************** NAVBAR ******************************************/

.navbar {
    background-color: #D9414E;
    border: none;
}

.navbar-default .navbar-brand,  .navbar-default .navbar-brand:hover {
    color: #E5F2FF;
}

.navbar-default .navbar-nav>li>a {
    color: #E5F2FF;
}

/***************************************** MAIN ******************************************/
