/*** PORTFOLIO ***/

/********************** NAVBAR ***************************/

.navbar-collapse {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: none;
    /* to get rid of line between navbar and dropdon menu */
}

.navbar-nav {
    margin-bottom: 0;
    margin-top: 0; 
    /* to decrease gup between navbar and dropdown menu */
}

.navbar-toggle {
    margin-bottom: 4px;
    margin-top: 12px;
    /* to make button in one line with logo */
}

/*************************** MAIN ***************************/

main .container {
    margin-top: 15px;
    /* make space between navbar and main */
}

.thumbnail {
    border: 3px solid #ddd;
    -webkit-transition: 0.8s;
    /* nice border instead of default for preview */
}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: #D9414E;
    /* nice border instead of default for preview */
}



.col-md-12:nth-of-type(2) .thumbnail {
    background-color: #333333;
}


/********************** MEDIA QUERIES ***************************/

@media(min-width: 768px) {
    .navbar>.container .navbar-brand {
        margin-left: 0;
        /* reset bootstrap -15px for margin-left because it goes out of container */
    }
}